<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<h1>Добавить нового пользователя</h1>
<form th:method="post" th:action="@{/admin/new}" th:object="${user}">

    <input type="text" th:field="*{firstName}" placeholder="Имя" required/>
    <input type="text" th:field="*{lastName}" placeholder="Фамилия" required/>
    <input type="email" th:field="*{email}" placeholder="E-mail" required/>

    <input type="submit" th:value="'Сохранить'">
</form>
</body>
</html>